@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  width: 100%;
}
body {
  margin: 0;
  display: flex;
  box-sizing: border-box;
  margin-top: 20px;
  font-family: "Gabarito", sans-serif;
}
/* #daec34 */
.main {
  padding: 25px;
}
h1 {
  font-family: "Dancing Script", cursive;
}
@media (min-width: 768px) {
  .main {
    padding: 0 44px;
  }
}
@media (min-width: 1024px) {
  .main {
    max-width: 1424px;
    margin: auto;
  }
  .main {
    padding: 0 77px;
  }
}
